<!-- Footer -->
<footer class="footer">	
    <!-- Footer Top -->	
    <div class="footer-top aos" data-aos="fade-up" >
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6  col-lg-3">
                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h5 class="footer-title">{{lang.v.about_company}}</h5>
                                <ul>
                                    <li>
                                        <a routerLink="/vår-intro">{{lang.v.our_intro}}</a>
                                    </li>
                                    <!-- <li>
                                        <a routerLink="/pages/gallery">{{lang.v.gallery}}</a>
                                    </li> -->
                                    <li>
                                        <a routerLink="/anmeldelser">{{lang.v.reviews}}</a>
                                    </li>

                                    <li>
                                        <a routerLink="/faqs">{{lang.v.faqs}}</a>
                                    </li>								
                                </ul>
                            </div>
                            <!-- /Footer Widget -->
                        </div>

                        <div class="col-6  col-lg-3">
                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h5 class="footer-title"> {{lang.v.vehicles_type}}</h5>
                                <ul>                                      
                                    <li>
                                        <a href="bilutleie">{{lang.v.all_vehicles}}</a>
                                    </li>
                                    <li>
                                        <a href="varebiler">{{lang.v.trucks}}</a>
                                    </li>
                                    <li>
                                        <a href="personbiler">{{lang.v.personal_car}}</a>
                                    </li>
                                    <li>
                                        <a href="elbiler">{{lang.v.electrified_vehicles}}</a>
                                    </li>	
                                    <li>
                                        <a href="hybrid">{{lang.v.hybrids}}</a>
                                    </li>								
                                </ul>
                            </div>
                            <!-- /Footer Widget -->
                        </div>

                        <div class="col-6  col-lg-3">
                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h5 class="footer-title">{{lang.v.opening_hours}}</h5>
                                <ul>                                      
                                    <li>
                                        <a>{{lang.v.monday_friday}}<br>
                                            09:00 - 16:00
                                        </a>
                                    </li>
                                    <li>
                                        <a>{{lang.v.saturday}} <br>
                                            {{lang.v.only_by_appointment}}
                                        </a>
                                    </li>
                                    <li>
                                        <a>{{lang.v.sunday}} <br>
                                            {{lang.v.only_by_appointment}}
                                        </a>
                                    </li>							
                                </ul>
                            </div>
                            <!-- /Footer Widget -->
                        </div>

                        <div class="col-6 col-lg-3">
                            <div class="footer-contact footer-widget">
                                <h5 class="footer-title">{{lang.v.contact_info}}</h5>
                                <div class="footer-contact-info">									
                                    <div class="footer-address">											
                                        <span><i class="feather icon-phone-call"></i></span>
                                        <div class="addr-info">
                                            <div>
                                                <a href="tel:51542400">51542400</a> <br>
                                                <a href="tel:91375053">91375053</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer-address">
                                        <span><i class="feather icon-mail"></i></span>
                                        <div class="addr-info">
                                            <a class="screen-font" href="mailto:post@flyttom.no">post@flyttom.no </a>
                                        </div>
                                    </div>
                                </div>								
                                <div class="footer-social-widget">
                                    <h6>{{lang.v.connect_with_us}}</h6>
                                    <ul class="nav-social">
                                        <li>
                                            <a href="javascript:void(0)" target="_blank"><i class="fa-brands fa-facebook-f fa-facebook fi-icon"></i></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" target="_blank"><i class="fab fa-instagram fi-icon"></i></a>
                                        </li>
                                        <!-- <li>
                                            <a href="javascript:void(0)" target="_blank"><i class="fab fa-behance fi-icon"></i></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" target="_blank"><i class="fab fa-twitter fi-icon"></i> </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" target="_blank"><i class="fab fa-linkedin fi-icon"></i></a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>					
        </div>
    </div>
    <!-- /Footer Top -->

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <!-- Copyright -->
            <div class="copyright">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="copyright-text" style="text-align: center;">
                            <p>© {{lang.v._2024flyttom_all_rights_reserved}}</p>
                        </div>
                    </div>
                    <!-- <div class="col-md-6">
                        <div class="copyright-menu">
                            <div class="vistors-details">
                                <ul class="d-flex">											
                                    <li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/icons/paypal.svg" alt="Paypal"></a></li>											
                                    <li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/icons/visa.svg" alt="Visa"></a></li>
                                    <li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/icons/master.svg" alt="Master"></a></li>
                                    <li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/icons/applegpay.svg" alt="applegpay"></a></li>
                                </ul>										   								
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <!-- /Copyright -->
        </div>
    </div>
    <!-- /Footer Bottom -->			
</footer>
<!-- /Footer -->	