<!-- Breadscrumb Section -->
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-md-12 col-12">
                <h1 class="breadcrumb-title">{{lang.v.warehouse_hotel}}</h1>
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/home">{{lang.v.home}}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{lang.v.warehouse}}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>


<section class="contact-section" style="padding: 0px !important;">

    <section class="section popular-services">
        <div class="container">
            <div class="form-info-area" data-aos="fade-down" data-aos-duration="1200" data-aos-delay="0.5">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-content">
                          <h2>{{lang.v.flyttom_can_offer_dry_and_safe}}</h2>

                          <p>
                            {{lang.v.you_can_rent_warehouse_space_for_as_long}}
                          </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img 
                            src="assets/img/warehouse/warehouse.jpg" 
                            class="img-fluid" 
                            alt="{{lang.v.warehouse_hotel}}" 
                            title="{{lang.v.warehouse_hotel}}" 
                            width="614"
                            height="592">
                    </div>
                </div>
            </div>	
        </div>
    </section>
</section>

<!-- Breadscrumb Section -->
<div class="warehouse_sizesectionblock">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 col-12 mdwarehouse_sizeimgblock">
               <div class="warehouse_sizeimgblock">
                    <ng-container *ngIf="active_boxsize == 1">
                        <img
                        src="assets/img/warehouse/small.png"
                        alt="Liten {{lang.v.warehouse_hotel}}"
                        title="Liten {{lang.v.warehouse_hotel}}"
                        width="848"
                        height="455">
                    </ng-container>

                    <ng-container *ngIf="active_boxsize == 2">
                        <img
                        src="assets/img/warehouse/medium.png"
                        alt="Middels {{lang.v.warehouse_hotel}}"
                        title="Middels {{lang.v.warehouse_hotel}}"
                        width="848"
                        height="455">
                    </ng-container>

                    <ng-container *ngIf="active_boxsize == 3">
                        <img
                        src="assets/img/warehouse/large.png"
                        alt="Stor {{lang.v.warehouse_hotel}}"
                        title="Stor {{lang.v.warehouse_hotel}}"
                        width="848"
                        height="455">
                    </ng-container>

                    <ng-container *ngIf="active_boxsize == 4">
                        <img
                        src="assets/img/warehouse/xl.png"
                        alt="Mega {{lang.v.warehouse_hotel}}"
                        title="Mega {{lang.v.warehouse_hotel}}"
                        width="848"
                        height="455">
                    </ng-container>
               </div>
            </div>

            <div class="col-md-6 col-lg-5  col-12">
                <div class="warehouse_boxsize_desblock">
                    <h3>{{lang.v.choose_how_much_space_you_need}}</h3>

                    <div class="row warehouse_boxsizerow margin_top30" *ngIf="active_boxsize == 1">
                        <div class="col-12 col-md-4">
                            <div class="warehouse_boximgblock">
                                <img src="assets/img/warehouse/smbox.png" 
                                alt="{{lang.v.warehouse_hotel}}"
                                title="{{lang.v.warehouse_hotel}}"
                                >
                               
                                <div class="warehouse_sizemeasurementblock">
                                    <p class="dark">{{lang.v.small_space}}</p>
                                    <p class="size_measurement">3m2 - 6m2</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-8">
                            <div class="warehouse_boxinfoblock">
                                <p class="dark">{{lang.v.small_space_description}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="row warehouse_boxsizerow margin_top30" *ngIf="active_boxsize == 2">
                        <div class="col-12 col-md-4">
                            <div class="warehouse_boximgblock">
                                <img src="assets/img/warehouse/mdbox.png" 
                                alt="{{lang.v.warehouse_hotel}}"
                                title="{{lang.v.warehouse_hotel}}"
                                >
                                
                                <div class="warehouse_sizemeasurementblock">
                                    <p class="dark">{{lang.v.medium_space}}</p>
                                    <p class="size_measurement">7m2 - 9m2</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-8">
                            <div class="warehouse_boxinfoblock">
                                <p class="dark">{{lang.v.medium_space_description}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="row warehouse_boxsizerow margin_top30" *ngIf="active_boxsize == 3">
                        <div class="col-12 col-md-4">
                            <div class="warehouse_boximgblock">
                                <img src="assets/img/warehouse/lgbox.png" 
                                alt="{{lang.v.warehouse_hotel}}"
                                title="{{lang.v.warehouse_hotel}}"
                                >
                                
                                <div class="warehouse_sizemeasurementblock">
                                    <p class="dark">{{lang.v.large_space}}</p>
                                    <p class="size_measurement">10m2 - 12m2 </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-8">
                            <div class="warehouse_boxinfoblock">
                                <p class="dark">{{lang.v.large_space_description}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="row warehouse_boxsizerow margin_top30" *ngIf="active_boxsize == 4">
                        <div class="col-12 col-md-4">
                            <div class="warehouse_boximgblock">
                                <img src="assets/img/warehouse/lgbox.png" 
                                alt="{{lang.v.warehouse_hotel}}"
                                title="{{lang.v.warehouse_hotel}}"
                                >
                                
                                <div class="warehouse_sizemeasurementblock">
                                    <p class="dark">{{lang.v.mega_space}}</p>
                                    <p class="size_measurement">13,5m2 - 21m2</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-8">
                            <div class="warehouse_boxinfoblock">
                                <p class="dark">{{lang.v.mega_space_description}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="row warehouse_progressblock" [ngClass]="{'active_boxsize1': active_boxsize == 1, 'active_boxsize2' : active_boxsize == 2,'active_boxsize3': active_boxsize == 3, 'active_boxsize4' : active_boxsize == 4 }">
                        <div class="col-2">
                            <div class="circle_icon circle_icon1" *ngIf="active_boxsize == 1"></div>
                            <div class="smallsizebox_border" (click)="changeBoxSizeType(1)"></div>
                            <span class="pull_left" (click)="changeBoxSizeType(1)">{{lang.v.small}}</span>
                        </div>
                        <div class="col-4">
                            <div class="circle_icon circle_icon2" *ngIf="active_boxsize == 2"></div>
                            <div class="mediumsizebox_border" (click)="changeBoxSizeType(2)"></div>
                            <div class="mediumsizebox_border2" (click)="changeBoxSizeType(2)"></div>
                            <span class="boxsize_title" (click)="changeBoxSizeType(2)">{{lang.v.medium}}</span>
                        </div>
                        <div class="col-4">
                            <div class="circle_icon circle_icon2" *ngIf="active_boxsize == 3"></div>
                            <div class="largesizebox_border" (click)="changeBoxSizeType(3)"></div>
                            <div class="largesizebox_border2" (click)="changeBoxSizeType(3)"></div>
                            <span class="boxsize_title" (click)="changeBoxSizeType(3)">{{lang.v.large}}</span>
                        </div>
                        <div class="col-2">
                            <div class="circle_icon circle_icon3" *ngIf="active_boxsize == 4"></div>
                            <div class="xlsizebox_border" (click)="changeBoxSizeType(4)"></div>
                            <span class="pull_right" (click)="changeBoxSizeType(4)">{{lang.v.mega}}</span>
                        </div>
                    </div>

                    <button class="btn contact-btn w-100 margin_top30 check-available" type="button" data-bs-toggle="modal" data-bs-target="#pages_edit">{{lang.v.order_mini_stock}}</button>	
                </div>
            </div>
        </div>
    </div>
</div>


<!-- FAQ  -->
<section class="section faq-section">
    <div class="section-heading"  data-aos="fade-down">
        <h2>
            {{lang.v.faqs}}
        </h2>
    </div>
    <div class="container">
        <div class="faq-info">
            <div class="faq-card bg-white" data-aos="fade-down">
                <h4 class="faq-title">
                    <a class="collapsed" data-bs-toggle="collapse" href="#faqOne" aria-expanded="false">{{lang.v.warehouse_faq_question_1}}</a>
                </h4>
                <div id="faqOne" class="card-collapse collapse">
                    <p>
                        {{lang.v.warehouse_faq_answer_1}}
                    </p>
                </div>
            </div>	
            <div class="faq-card bg-white" data-aos="fade-down">
                <h4 class="faq-title">
                    <a class="collapsed" data-bs-toggle="collapse" href="#faqTwo" aria-expanded="false">{{lang.v.warehouse_faq_question_2}}</a>
                </h4>
                <div id="faqTwo" class="card-collapse collapse">
                    <p>
                        {{lang.v.warehouse_faq_answer_2}}                    
                    </p>
                </div>
            </div>
            <div class="faq-card bg-white" data-aos="fade-down">
                <h4 class="faq-title">
                    <a class="collapsed" data-bs-toggle="collapse" href="#faqThree" aria-expanded="false">{{lang.v.warehouse_faq_question_3}}</a>
                </h4>
                <div id="faqThree" class="card-collapse collapse">
                    <p>
                        {{lang.v.warehouse_faq_answer_3}}
                    </p>
                </div>
            </div>	
            <div class="faq-card bg-white" data-aos="fade-down">
                <h4 class="faq-title">
                    <a class="collapsed" data-bs-toggle="collapse" href="#faqFour" aria-expanded="false">{{lang.v.warehouse_faq_question_4}}</a>
                </h4>
                <div id="faqFour" class="card-collapse collapse">
                    <p>
                        {{lang.v.warehouse_faq_answer_4}}
                    </p>
                </div>
            </div>	

            <div class="faq-card bg-white" data-aos="fade-down">
                <h4 class="faq-title">
                    <a class="collapsed" data-bs-toggle="collapse" href="#faqFive" aria-expanded="false">{{lang.v.warehouse_faq_question_5}}</a>
                </h4>
                <div id="faqFive" class="card-collapse collapse">
                    <p>
                        {{lang.v.warehouse_faq_answer_5}}
                    </p>
                </div>
            </div>	
            <div class="faq-card bg-white" data-aos="fade-down">
                <h4 class="faq-title">
                    <a class="collapsed" data-bs-toggle="collapse" href="#faqSix" aria-expanded="false">{{lang.v.warehouse_faq_question_6}}</a>
                </h4>
                <div id="faqSix" class="card-collapse collapse">
                    <p>
                        {{lang.v.warehouse_faq_answer_6}}
                    </p>
                </div>
            </div>	
            <div class="faq-card bg-white" data-aos="fade-down">
                <h4 class="faq-title">
                    <a class="collapsed" data-bs-toggle="collapse" href="#faqSeven" aria-expanded="false">{{lang.v.warehouse_faq_question_7}}</a>
                </h4>
                <div id="faqSeven" class="card-collapse collapse">
                    <p>
                        {{lang.v.warehouse_faq_answer_7}}
                    </p>
                </div>
            </div>													
        </div>		
    </div>	
</section>	
<!-- /FAQ -->	


<!-- Modal -->
<div class="modal custom-modal fade check-availability-modal" id="pages_edit" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-header text-start mb-0">
                    <h4 class="mb-0 text-dark fw-bold">{{lang.v.get_in_touch}}</h4>
                </div>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span class="align_center" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="#" class="warehouseform_modalblock">
                            <div class="row">
                                <div class="col-md-12"> 
                                    <div class="form-group">
                                        <label> {{lang.v.storage_space}} <span class="text-danger">*</span></label>
                                       
                                        <select [(ngModel)]="storage_spacesize" name="storage_spacesize" class="form-control selectform-control">
                                           <option hidden value="" disabled selected> {{lang.v.select}} </option>
                                           
                                           <ng-container *ngIf="active_boxsize == 1">
                                                <option value={{lang.v.small_3m2}}>{{lang.v.small_3m2}}</option>
                                                <option value={{lang.v.small_6m2}}>{{lang.v.small_6m2}}</option>
                                           </ng-container>

                                           <ng-container *ngIf="active_boxsize == 2">
                                                <option value="M - 7m2">M - 7m2 </option>
                                                <option value="M - 8m2">M - 8m2</option>
                                                <option value="M - 9m2 ">M - 9m2</option>
                                           </ng-container>

                                           <ng-container *ngIf="active_boxsize == 3">
                                                <option value="L - 10m2">L - 10m2</option>
                                                <option value="L - 11m2">L - 11m2</option>
                                                <option value="L - 12m2 ">L - 12m2</option>
                                            </ng-container>

                                            <ng-container *ngIf="active_boxsize == 4">
                                                <option value="Xl - 13,5 m2">Xl - 13,5 m2</option>
                                                <option value="XL - 19m2">XL - 19m2</option>
                                                <option value="Xl - 21m2">Xl - 21m2</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-12"> 
                                    <div class="form-group">
                                        <label>{{lang.v.name}} <span class="text-danger">*</span></label>
                                        <input [(ngModel)]="name" name="name" type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
    
                                <div class="col-md-12"> 
                                    <div class="form-group">
                                        <label>{{lang.v.email_address}} <span class="text-danger">*</span></label>
                                        <input [(ngModel)]="email" name="email" type="email" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-12"> 
                                    <div class="form-group">
                                        <label>{{lang.v.phone_number}} <span class="text-danger">*</span></label>
                                        <input [(ngModel)]="phone" name="phone" type="number" class="form-control" placeholder="">
                                    </div>
                                </div>							
                                <div class="col-md-12"> 
                                    <div class="form-group">
                                        <label>{{lang.v.comments}} <span class="text-danger">*</span></label>
                                        <textarea [(ngModel)]="comments" name="comments" type="text" class="form-control" rows="4" cols="50" placeholder=""></textarea>
                                    </div>
                                </div>
                            </div>		
                            <button class="btn contact-btn" type="button" (click)="submitform()">{{lang.v.send_enquiry}}</button>					
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Modal -->




