.black {
    color: black !important;
}

.form-info-area{
    background-image: linear-gradient(rgba(0,0,0, .2),rgba(0,0,0, .4)),url(../../../../assets/img/longterm.jpg) !important;
    background: #f4f2f2;
    background-size: contain;
    background-repeat: no-repeat;
}

.form-info-area .about-content h2{
    color: #2B346B;
    text-shadow: 1px 1px #b7bfed;
}

.form-info-area .about-content p{
    color: white;
    text-shadow: 1px 1px #111215;
}


.form-info-area .form_block {
    border-radius: 10px;
    padding: 20px;
    background-image: linear-gradient(rgba(43, 52, 107), rgba(43, 52, 107, .8)) !important;
}

.formblock_title {
    text-align: center;
    color: #CF243F !important;
    margin-bottom: 0px !important;
}

.formblock_subtitle {
    font-size: 20px;
    text-align: center;
    color: white !important;
    margin-bottom: 40px !important;
}

.form-group label {
    color: white;
}

.align_center {
    text-align: center;
}

.contact-btn {
    background: #CF243F !important;
    margin-top: 10px;
}


.selectform-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat 98.5% !important;
    background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat calc(100% - 10px) !important;
}

.movingcontent_block{
    padding-top: 0px !important;
}

.moving-content {
    text-align: justify;
    margin: 0px !important;
}

.moving-content .moving-description{
    color: black;
}

.checkbox_headtitle{
    margin-top: 50px;
}

.checkbox_block{
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 3px solid #2B346B;
    margin: 10px;
    padding: 10px;
    min-height: 77px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;

}

.checkbox_block:hover{
    border-bottom: 3px solid #CF243F;
    i{
        color: #CF243F !important;
    }

}

.checkbox_block i{
    font-size: 24px;
    color: #2B346B;
    margin: 0px 20px 0px 10px;
}

.checkbox_block p{
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin: 0px 10px 0px 0px;
    text-align: left;
}

@media (max-width: 767px) {
    .checkbox_block{
        width: calc(100% - 20px) !important;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .checkbox_block{
        width: calc(50% - 20px) !important;
    }
}

@media (min-width: 992px) {
    .lgpright_0 {
        padding-right: 0px !important;
    }

    .form-info-area .about-content h2{
        font-weight: 800 !important;
        line-height: 60px !important;
        margin-top: 50px !important;
    }
    
    .form-info-area .about-content p{
        font-size: 25px !important;
        font-weight: 600 !important;
    }  

    .moving-content .moving-description{
        font-size: 18px !important;
    }

    .checkbox_headtitle{
        font-size: 25px !important;
    }

    .checkbox_block{
        width: calc(33.33% - 20px);
    }
}
