<!-- Breadscrumb Section -->
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-md-12 col-12">
                <h1 class="breadcrumb-title">{{lang.v.rental}}</h1>
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/home">{{lang.v.home}}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{lang.v.roadside_assistance}}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>


<section class="contact-section" style="padding: 0px !important;">

    <section class="section popular-services">
        <div class="container">
            <div class="form-info-area" data-aos="fade-down" data-aos-duration="1200" data-aos-delay="0.5">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-content">
                          <h2>{{lang.v.if_you_have_an_accident_or_technical}}</h2>

                          <p>
                            {{lang.v.you_can_call_our_on_call_number}}
                          </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img 
                            src="assets/img/roadassistant.jpg" 
                            class="img-fluid" 
                            alt="{{lang.v.rental}}" 
                            title="{{lang.v.rental}}" 
                            width="4500"
                            height="3000">
                    </div>
                </div>
            </div>	
        </div>
    </section>
</section>